<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.quarck.smartnotify"
    android:versionCode="9"
    android:versionName="1.0.8" >


    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application
        android:name="com.github.quarck.smartnotify.GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"  >
        <activity	
            android:name="com.github.quarck.smartnotify.MainActivity"
            android:label="@string/app_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity	
            android:name="com.github.quarck.smartnotify.EditApplicationsActivity"
            android:label="@string/app_name" 
            android:parentActivityName="com.github.quarck.smartnotify.MainActivity" >
            <intent-filter/>
            
            <meta-data
			        android:name="android.support.PARENT_ACTIVITY"
			        android:value="com.github.quarck.smartnotify.MainActivity" />
        </activity>

        <activity	
            android:name="com.github.quarck.smartnotify.SettingsActivity"
            android:label="@string/app_name" 
            android:parentActivityName="com.github.quarck.smartnotify.MainActivity" >
            <intent-filter/>
            
            <meta-data
			        android:name="android.support.PARENT_ACTIVITY"
			        android:value="com.github.quarck.smartnotify.MainActivity" />
        </activity>
        
        <service android:name="com.github.quarck.smartnotify.NotificationReceiverService"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service> 
        
        <receiver android:name=".Alarm"
                  android:enabled="true" /> 
        
        <receiver android:name=".ToggleMuteBroadcastReceiver"/>

        <receiver android:name=".AppUpdatedBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>

    </application>

</manifest>
